.pokemon-list-container {
  padding: 20px;
  background-color: #f5f5f5;
  height: 100%;
  max-width: 618.188px;
  overflow-y: auto;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
}

.pokemon-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  max-width: 150px;
  max-height: 188px;
  cursor: pointer;
}

.pokemon-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.pokemon-number {
  color: #919191;
  font-size: 0.8rem;
  font-weight: bold;
}

.pokemon-image {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin: 10px 0px 1px 0px;
}

.pokemon-name {
  font-weight: bold;
  color: #333;
  font-size: 1.1rem;
  transform: scale(0.9);
  margin-top: -5px;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.pokemon-type {
  padding: 3px 10px;
  border-radius: 15px;
  font-size: 0.8rem;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.load-more-container {
  text-align: center;
  margin: 30px 0;
}

.load-more-btn {
  background-color: #ffcb05;
  color: #2a75bb;
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.load-more-btn:hover:not(:disabled) {
  background-color: #ffde59;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.load-more-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@media (max-width: 1050px) {
  .pokemon-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }
}

.search-container {
  display: flex;
  margin: 20px 0;
  padding: 0 15px;
}

.search-input {
  flex: 1;
  padding: 12px 15px;
  border: 2px solid #ffcb05;
  border-radius: 25px 0 0 25px;
  font-family: 'Pokemon DP', sans-serif;
  font-size: 1rem;
  outline: none;
}

.search-button {
  padding: 0 20px;
  background-color: #ffcb05;
  border: 2px solid #ffcb05;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #ffde59;
}

.search-icon {
  font-size: 1.2rem;
}

.search-input:focus {
  border-color: #2a75bb;
  box-shadow: 0 0 0 2px rgba(42, 117, 187, 0.3);
}